:root {
  --background: #141414;
  --foreground: #ffffff;
  --netflix-red: #E50914;
  --netflix-black: #141414;
  --netflix-dark-gray: #181818;
  --netflix-gray: #808080;
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), sans-serif;
  letter-spacing: 1px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}