.avatarContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.initial {
    color: white;
    font-weight: 700;
    font-family: var(--font-inter), sans-serif;
    user-select: none;
}

.large .initial {
    font-size: 5rem;
}

.small .initial {
    font-size: 1.2rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .large .initial {
        font-size: 3rem;
    }
}