.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    /* Deep black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 0.5s ease-in-out 3s forwards;
    /* Disappear after 3s */
}

.logo {
    font-family: var(--font-bebas), sans-serif;
    font-size: 5rem;
    color: #E50914;
    /* Netflix Red */
    letter-spacing: 4px;
    animation: scaleUp 2.8s cubic-bezier(0.2, 0, 0, 1) forwards;
    /* "Ta-dum" zoom */
    opacity: 0;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    85% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(4);
        /* Explode out */
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .logo {
        font-size: 3rem;
    }
}